* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  bord: solid red 3px;
}
.first {
  background-color: #1f2937;
}
.header1 {
  display: flex;
  justify-content: space-between;
 
  margin-left: 120px;
  margin-right: 120px;
  background-color: #1f2937;
}
.links1 {
  display: flex;
  gap: 15px;
}
.header2 {
  display: flex;
 margin-top: 30px;
  margin-left: 120px;
  margin-right: 120px;
  background-color: #1f2937;
}
h1 {
  font-weight: extra-bold;
  font-size: 48px;
  color: #F9FAF8;
}
.p2 {
  font-size: 18px;
  color: #E5E7EB;
}
h2 {
  font-size: 24px;
  color: #F9FAF8;
}
.im1 {
  width: 650px;
 height: 110px;
 align-self: center;
 margin-right: 20px;
 margin-left: 20px;
}
.signin {
  background-color: #3882f6;
  padding: 5px;
  margin-left: 8px;
}
.image-content1 {
  display: flex;
  justify-content: space-around;
  margin-left: 120px;
  margin-right: 120px;
  background-color: white;
}
.im {
}
.h1 {
  margin-left: 200px ;
  padding: 30px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  background-color: white;
}
.im {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: white;
}
.im p {
  height: 130px;
  width: 190px;
  background-color: white;
  color: black;
}
.second {
  background-color: white;
  margin: 20px;
}
.p1 {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 36px;
  color: #1f2937;
}
.third {
  background-color: #e5e7eb;
  padding: 35px;
}
.p3 {
  margin-left: 500px;
  font-size: 30px;
}
.fourth {
  padding: 30px;
  background-color: white;
}
.f {
  padding: 20px;
  display: flex;
  background-color: #3882f6;
  justify-content: space-between;
  margin-right: 120px;
  margin-left: 120px;
  padding-right: 50px;
  padding-left: 50px;
  padding: 35px;
}
.signing {
background-color: #3882f6;
  padding: 15px 15px 10px 10px;
  margin-left: 8px;
  align-self: flex-end;
}
.content2 p {
  color: white;
  
}